<html>
  <head>
    <title>{{title}}</title>
    <!--Load the AJAX API-->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">

      // Load the Visualization API and the corechart package.
      google.charts.load('current', {'packages':['corechart']});

      // Set a callback to run when the Google Visualization API is loaded.
      google.charts.setOnLoadCallback(drawChart);

      // Callback that creates and populates a data table,
      // instantiates the pie chart, passes in the data and
      // draws it.
      function drawChart() {

        // Create the data table.
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Report');
        data.addColumn('number', 'records');

        data.addRows([
          ['Inserted', {{insertCount}}],
          ['Updated', {{updateCount}}]
        ]);

        // Set chart options
        var options = {'title':'Report of Month {{year}} - {{month}}'};

        // Instantiate and draw our chart, passing in some options.
        var chart = new google.visualization.PieChart(document.getElementById('chart_div'));
        chart.draw(data, options);
      }
    </script>
  </head>

  <body>
    <!--Div that will hold the pie chart-->
    {% if insertCount!=-1 and updateCount!=-1 %}
    <h1>Report</h1>
    <p>
      <div id="chart_div"></div>
    </p>
    {% else %}
    <h2>Data not available. Maybe job has not completed yet</h2>
    {% endif %}
  </body>
</html>